@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: 70px;
    cursor: pointer;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.login-button, .logout-button, .admin-button {
    background-color: #0B2FED;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.logout-button {
    background-color: #FF0000;
}

.admin-button {
    background-color: #0B2FED;
}

.login-button:hover {
    background-color: #0033A0;
}

.logout-button:hover {
    background-color: #CC0000;
}

.admin-button:hover {
    background-color: #0033A0;
}

.nav-divider {
    width: 100%;
    height: 4px;
    background-color: #0B2FED;
    position: fixed;
    top: 13vh;
    left: 0;
    z-index: 999;
}

.member-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 5vw;
    width: 100%;
    margin-top: 17vh; 
}

.member-form-content {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 4vh 5vw;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.member-form-content:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.member-search-form, .member-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.member-search-form h2, .member-details-form h2 {
    text-align: center;
    margin-bottom: 4vh;
    font-size: 3vh;
    color: #0B2FED;
}

.member-form-group {
    width: 100%;
    margin-bottom: 3vh;
}

.member-form-group label {
    display: block;
    margin-bottom: 1vh;
    font-weight: 700;
    font-size: 2vh;
    color: #333;
}

.member-form-group input {
    width: 100%;
    padding: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2vh;
    transition: border-color 0.3s;
}

.member-form-group input:focus {
    border-color: #0B2FED;
    outline: none;
}

.member-search-button, .member-submit-button {
    width: 100%;
    padding: 2vh;
    background-color: #0B2FED;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2.5vh;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2vh;
    margin-bottom: 5vh;

}

.member-search-button:hover, .member-submit-button:hover {
    background-color: #0033A0;
}

.member-popup {
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0B2FED;
    color: white;
    padding: 3vh 5vw;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: box-shadow 0.3s ease;
}

.member-popup:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
