.language-section {
    display: flex;
    align-items: center;
    font-size: 1vw; 
    color: black;
}

.location-text {
    font-weight: 700;
    margin-right: 5vw; 
}

.language-selector {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 0.5vh 1vw;
    border-radius: 2vh;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 3vh;
}

.language-selector:hover {
    background-color: #f1f1f1;
    border-color: #bfbfbf;
}

.selected-language {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 700;
    color: #333;
}

.arrow {
    font-size: 1.4vw;
    color: grey;
    margin-left: 0.5vw;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 0.5vh;
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
    margin-top: 0.5vh;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.dropdown-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
    cursor: pointer;
    font-size: 1vw;
    color: #333;
    transition: background-color 0.3s ease;
    text-align: left;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}
